<app-header></app-header>
<section>

	<div class="container">

		<div class="row justify-content-center">

			<div class="col-xl-12 ">
				<fantasy-crew-grid [selectedCharacter]="selectedCharacter"></fantasy-crew-grid>
			</div>
		</div>

	</div>
</section>

<section>

	<div class="container">

		<div class="row justify-content-center">
			<div class="col-xl-12">
				<characters-list-grid (onCharacterSelection)="isCharacterSelected($event)"></characters-list-grid>
			</div>
		</div>

	</div>

</section>
