<gui-grid [columns]="columns"
		  [rowColoring]="rowColoring"
		  [theme]="theme"
		  [source]="source"
		  (itemsSelected)="onItemSelected($event)">
</gui-grid>

<section>

	<h4 *ngIf="selectedCharacter else name">{{isCharacterSelected()}}</h4>

	<mat-form-field>
		<mat-label>Select position</mat-label>
		<mat-select (selectionChange)="onPositionSelection($event)">
			<mat-option *ngFor="let position of positions"
						[value]="position">
				{{position}}
			</mat-option>
		</mat-select>
	</mat-form-field>

	<button mat-raised-button color="primary"
			(click)="addCharacter(selectedPosition, selectedCharacter)">
		Add
	</button>

	<button mat-raised-button color="warn" [disabled]="isButtonDisabled()"
			(click)="removeCharacter(selectedFantasyCharacter)">
		Remove
	</button>

</section>

<ng-template #name>
	<h4>Choose one of the characters below and select position you wish to fill</h4>
</ng-template>
