.fantasy-crew-grid {
	display: flex;
	padding-top: 20px;
	margin: 12px 0 24px 0 ;

	.gui-grid {
		margin-top: 24px;
	}

	.crew-grid {
		display: flex;
		flex-direction: column;

		h3 {
			margin: 0 auto;
			font-style: italic;
		}
	}

	.crew-form {
		margin-top: 50px;
		p {
			font-size: 15px;
		}
	}

	.mat-raised-button {
		margin: 6px 12px 0 0;
	}

}

